* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

a {
    text-decoration: none;
}

a {
    list-style-type: none;

}

/* Navbar styling */
nav {
    padding: 2em 15em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.nav-bar{
    display: flex;
}
li{
    padding: 0 .5em;
}
nav li {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

nav a {
    color: black;
}

nav li a:hover {
    text-decoration: underline;
}

/* Logo styling */
.logo img {
    aspect-ratio: 2/1;
    height:15px; 
}

/* Dropdown styling */
.dropdown {
    display: none;
    position: absolute;
    left: 0;
    margin:0;
    padding: 0;
}

.dropdown li {
    display: block;
}

li:hover .dropdown {
    display: block;
}

.dropdown li:hover {
    background-color: black;
    color: white;
}

.dropdown li:hover a {
    color: white;
    text-decoration: none;
}

.space{
    background-color: red;
    width: 10px;
}
/* Nav right side */

nav .subscribe ,.login {
    padding: .5em .5em;
    border-radius: 3px;
    background-color: red;
    border: none;
    color: white;
    font-weight: bold;
}

.login {
    color: black;
    background-color: white;
    border: solid 1px;
}

.hamburger {
    display: none;
    border: none;
    background: none;
}

@media only screen and (max-width:1050px) {
    nav{
        padding: 2em 1em;
    }
    .nav-left a{
        display:none
    } 
    .nav-right li:nth-child(-n+3){
        display: none;
    }
    .hamburger {
        display: block;
        border: none;
        background: none;
    }

} 

@media only screen and (max-width:768px) {
    nav {
        /* padding: 2em 1em; */
        font-weight: bold;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
    }


} 
}
 @media only screen and (max-width:425px) {
    nav {
        padding: 2em 1em;
        font-weight: bold;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
    }
    .subscribe{
        display:none
    }

} 
